In [1]:
import pandas as pd
import numpy as np

In [2]:
#import the monthly data into jupyter
data_file = pd.ExcelFile('E://Black knights//Photoshop tutorial//RNGWHHDm_Monthly.xls')

In [3]:
#This will read data in sheet 1 of the excel file.
monthly_data = data_file.parse("Data 1")

In [7]:
monthly_data.columns = monthly_data.iloc[1]
monthly_data = monthly_data.ix[2:]
monthly_data.columns = ["Month", "Prices"]
monthly_data.head()

C:\Users\Gachengoh\Anaconda3\envs\PythonGPU\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

                 Month Prices
2  1997-01-15 00:00:00   3.45
3  1997-02-15 00:00:00   2.15
4  1997-03-15 00:00:00   1.89
5  1997-04-15 00:00:00   2.03
6  1997-05-15 00:00:00   2.25

In [8]:
monthly_data.to_csv('E:\Black knights\Photoshop tutorial\monthly_data.csv')